.main-container {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.logo {
width: 70%;
max-width: 400px;
height: auto;
margin: auto;
padding: 1rem;
display: flex;
padding-top: .8rem;
}

.title {
text-align: center;
font: normal normal normal 24px/33px Comic Sans MS;
color: #FFFFFF;
margin: 0 auto 2rem auto;
}

@media screen and (width <= 400px) {
    .logo {
        width: 60%;
    }
    .title {
        font-size: 1rem;
    }
}